.featured {
    background-image: url("../images/about-header-image-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: -1;
    min-height: 600px;
}

li {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    /*font-family: 'Raleway', sans-serif;*/
}

.self-icon-wrapper {
    height: 100%;
    text-align: center;
}

.intro-wrapper {
    height: 100%;
    text-align: center;
}

.text-board-wrapper {
    width: 80%;
    height: 250px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    padding: 50px 30px 50px 30px;
    background-color: rgba(30, 30, 30, 0.65);
}

.text-board {
    width: 90%;
    text-align: left;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
}

.self-icon {
    vertical-align: middle;
    width: 300px;
    height: auto;
    margin: 0 auto;
    border-radius: 50%;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.intro-text {
    font-size: 30px;
    font-size: 2vw;
    /*font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;*/
    font-family: 'Raleway', sans-serif;
    color: rgb(230, 230, 230);
}

@media (max-width : 991px) {
    .self-icon-wrapper {
        height: 50%;
    }
    .intro-wrapper {
        height: 50%;
    }
    .text-board-wrapper {
        height: 80%;
        padding: 10px 30px 10px 30px;
    }
    .text-board {
        text-align: center;
    }
    .intro-text {
        font-size: 30px;
        font-size: 3vw;
    }
}

.div-work-experience {
    padding-top: 50px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.div-project {
    height: 100%;
    padding-top: 100px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.div-other-resource {
    /*padding-top: 50px;*/
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.div-project {
    padding-top: 50px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.inner-space {
    width: 100%;
    height: 200px;
    background-color: gray;
    display: none;
}

.outer-space {
    width: 100%;
    height: 700px;
    background-color: white;
    display: none;
    background-image: url("../images/wood-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.outer-space-wrapper {
    height: 100%;
}

.experience-item {
    /*border: 2px solid red;*/
    text-align: center;
    padding-top: 100px;
    cursor: pointer;
}

.experience-wrapper {
    margin-top: 100px;
    margin: 0 auto;
    /*border: 2px solid black;*/
}

#work {
    background: rgba(107,130,245,1);
    background: -moz-linear-gradient(-45deg, rgba(107,130,245,1) 0%, rgba(74,97,232,1) 34%, rgba(15,38,208,1) 94%, rgba(9,32,206,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(107,130,245,1)), color-stop(34%, rgba(74,97,232,1)), color-stop(94%, rgba(15,38,208,1)), color-stop(100%, rgba(9,32,206,1)));
    background: -webkit-linear-gradient(-45deg, rgba(107,130,245,1) 0%, rgba(74,97,232,1) 34%, rgba(15,38,208,1) 94%, rgba(9,32,206,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(107,130,245,1) 0%, rgba(74,97,232,1) 34%, rgba(15,38,208,1) 94%, rgba(9,32,206,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(107,130,245,1) 0%, rgba(74,97,232,1) 34%, rgba(15,38,208,1) 94%, rgba(9,32,206,1) 100%);
    background: linear-gradient(135deg, rgba(107,130,245,1) 0%, rgba(74,97,232,1) 34%, rgba(15,38,208,1) 94%, rgba(9,32,206,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6b82f5', endColorstr='#0920ce', GradientType=1 );', endColorstr='#0812cc', GradientType=1 );
}

#project {
    background: url("../images/background-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: -1;
}

#resources {
    background: rgba(198,223,235,1);
    background: -moz-linear-gradient(45deg, rgba(198,223,235,1) 0%, rgba(178,203,220,1) 27%, rgba(168,220,255,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(198,223,235,1)), color-stop(27%, rgba(178,203,220,1)), color-stop(100%, rgba(168,220,255,1)));
    background: -webkit-linear-gradient(45deg, rgba(198,223,235,1) 0%, rgba(178,203,220,1) 27%, rgba(168,220,255,1) 100%);
    background: -o-linear-gradient(45deg, rgba(198,223,235,1) 0%, rgba(178,203,220,1) 27%, rgba(168,220,255,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(198,223,235,1) 0%, rgba(178,203,220,1) 27%, rgba(168,220,255,1) 100%);
    background: linear-gradient(45deg, rgba(198,223,235,1) 0%, rgba(178,203,220,1) 27%, rgba(168,220,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c6dfeb', endColorstr='#a8dcff', GradientType=1 );
    /*display: table-cell;
    vertical-align: middle;
    text-align: center;*/
}

.section-title {
    text-align: center;
    font-size: 40px;
    line-height: 100px;
    /*font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;*/
    font-family: 'Raleway', sans-serif;
    color: white;
}

.experience-intro-text {
    font-size: 20px;
    /*font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;*/
    font-family: 'Raleway', sans-serif;
    color: white;
}

.experience-intro-wrapper {
    height: 350px;
    padding-top : 100px;
    text-align: center;
    width: 100%;
    /*border: 2px solid green;*/
}

.project-item {
    height: 100px;
    width: 100%;
    display: inline-block;
    cursor: pointer;
    /*background-color: rgba(30, 30, 30, 0.65);*/
    /*padding-top: 5px;*/
    /*border: 10px solid red;*/
    /*border-radius: 20px;*/
}

#project-item-1 {
    margin-top: 30px;
    margin-bottom: 30px;
}

#project-item-2 {
    margin-bottom: 30px;
}

#project-item-3 {
    margin-bottom: 30px;
}

.project-icon {
    width: auto;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.project-icon-wrapper {
    width: 25%;
    height: 100%;
    float: left;
    /*border: 2px solid green;*/
    display: inline-block;
    min-width: 100px;
}

.project-description {
    display: inline-block;
    height: 100%;
    width: 75%;
    float: left;
    /*border: 2px solid black;*/
    padding-top: 2px;
}

.project-description p {
    /*font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;*/
font-family: 'Raleway', sans-serif;
}

.detail-image-frame {
    width: 30%;
    float: left;
    display: inline-block;
    border: 2px solid red;
    height: 100%;
    vertical-align: middle;
}

.detail-text-frame {
    width: 60%;
    float: right;
    display: inline-block;
    border: 2px solid red;
    height: 100%;
}

.detail-text-frame p,  .detail-text-frame ul li{
    /*font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;*/
    /*font-family: 'Open Sans', sans-serif;*/
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    color: white;
}

#icon {
    width: 180px;
    height: auto;
    margin: 0 auto;
    border-radius: 40px;
    display: block;
}

.iphone-image {
    display: block;
    margin: 0 auto;
    height: 650px;
    vertical-align: middle;
}

.image-wrapper {
    vertical-align: middle;
    height: 100%;
    /*display: inline-block;*/
}

@media (max-width : 567px) {
    .text-board-wrapper {
        width: 90%;
    }
    .intro-text {
        font-size: 30px;
        font-size: 4vw;
    }
}

@media (min-width : 992px) {
    .self-icon-wrapper {
        height: 100%;
    }
    .intro-wrapper {
        height: 100%;
    }
    .experience-wrapper {
        width: 80%;
    }
    .experience-item {
        width: 33%;
        display: inline-block;
    }
    .div-work-experience {
        height: 100%;
        min-height: 900px;
        overflow: hidden;
    }
    .div-other-resource {
        height: 100%;
        min-height: 900px;
        overflow: hidden;
    }
    .div-project {
        height: 100%;
        min-height: 900px;
        overflow: hidden;
    }
    .project-item {
        width: 800px;
        display: block;
        margin: 0 auto;
        margin-bottom: 50px;
    }
    .div-center {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
    #project-title, #resources-title {
        margin-bottom: 5%;
    }
}

@media (max-width : 991px) {
    .experience-wrapper {
        width: 100%
    }
    .experience-item {
        width: 100%
    }
    .div-work-experience {
        overflow: auto;
    }
    .div-other-resource {
        overflow: auto;
    }
    .div-project {
        overflow: auto;
    }
    .project-item {
        width: 100%;
    }
}

@media (max-width : 700px) {
    .project-description p {
        font-size: 15px;
    }
    .project-description {
        padding-top: 20px;
    }
}

@media (min-width : 701px) {
    .project-description p {
        font-size: 25px;
    }
}
