.main-articel-section {
    height: 300px;
    background-color: #8DEEF2;
    margin-top: 20px;
}

.featured {
    background-color: #8DEEF2;
}

/*backgroud; */
/*AEF7FA; 8DEEF2; 9DF3F7;C1F9FC; D4FCFE;*/
